body {
    font-family: Arial, sans-serif;
    max-width: 1100px;
    margin: auto;
    padding: 0px;
}

header {
    display: flex;
    border: 1px solid black;
    max-height: 50px;
    align-items: center; /* Centre verticale */
    background-color: #61787F;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour un léger relief */
    position: relative;
}

.logo {
    position: absolute;
}

.logo img {
    width: 30%;
    height: auto;
}

.title {
    flex: 1; /* Prend tout l'espace restant */
    text-align: center;
}

h1 {
    font-size: 30px;
    color: white;
}

/* Container du meilleur film */
.best-movie {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}


/* Style de l'image du meilleur film */
.affiche-du-film {
    border-radius: 5px;
    margin-right: 25px;
    width: 25%;
    height: auto;
}

.movie-img {
    border-radius: 5px;
}

 /* Conteneur de détails du film */
 .details-film {
    flex: 1; /* Le conteneur de détails occupe le reste de l'espace disponible */
  }

/* Style pour le titre du film */
.details-film h2 {
    margin: 0 0 10px 0; /* Marges pour le titre */
  }

 /* Style pour le texte de description */
 .details-film p {
    margin: 0 0 15px 0; /* Marges pour le paragraphe */
  }
  
  /* Style pour le bouton de détails */
  .details-button {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Changement de l'opacité du bouton au survol */
  .details-button:hover {
    opacity: 0.8;
  }


 /* Style du titre des sections */
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold; 
}

/* Style pour chaque section */
section {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

/* Superposition pour les détails */
.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}


.overlay p {
    font-size: 18px;
    margin: 0 0 10px 0;
}

/* Styles pour la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    position: relative;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
}

.modal-affiche {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.modal h2 {
    margin: 0;
    margin-bottom: 15px;
}

.modal p {
    margin: 5px 0;
}


/* Styles pour la section des six films les mieux notés */
/* Style pour chaque carte de film */
.movie-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 350px;
}

/* Limiter la taille des images et conserver le ratio */
.movie-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Rempli le conteneur tout en gardant le ratio */
    display: block;
    border-radius: 10px;
}


.movie-item:hover .overlay {
    opacity: 1;
}

h2 {
    margin: 0px;
    font-size: 2em;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 15px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.movie-item p {
    font-size: 0.9em;
    margin: 5px 0;
}

/* Style pour la liste déroulante des catégories*/
.categories {
    display: flex;
    align-items: center;
    gap: 15px;
}

select {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

